<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">

            <div class="main">
                <h4>Welcome To YES Bank <br>
                <h5>{{aim}}</h5> </h4><br>


<form [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- <input id="accnotext" type="text" class="text" [value]="accno" (change)="accChange($event)" placeholder="Account number"><br><br> -->
            <!-- <input id="accnotext" type="text" class="text" [value]="acno" #accno placeholder="Account number"><br><br> -->
            <input type="text" class="text" [value]="accno" formControlName="acno" name="acno" placeholder="Account number"><br><br>
            <div *ngIf="(loginForm.get('acno')?.touched || loginForm.get('acno')?.dirty)&& loginForm.get('acno')?.errors " class="error">Invalid Acount number</div>   

            <!-- <input id="pwdtext" type="password" class="text"  (change)="pwdChange($event)"  placeholder="Password" ><br> <br> -->

            <input type="password" class="text" formControlName="pswd" name="pswd" placeholder="Password" ><br> <br>
            <div *ngIf="(loginForm.get('pswd')?.touched || loginForm.get('pswd')?.dirty)&& loginForm.get('pswd')?.errors " class="error">Invalid Password</div>   

            <!-- <input id="pwdtext" type="password" class="text" #pswd placeholder="Password" ><br> <br> -->
            <input type="submit"  value="Log In" class="button butefct"> <br>

            <!-- <input type="button"  (click)="login(accno,pswd)" value="Log In" class="button butefct"> <br> -->

                <a class="textfp" routerLink="register">Forgotten password?</a>
           <div class="line"></div>
                <input type="button"  value="Create New Account" (click)="reg()" class="button button1 butefct"> <br><br>
</form>
        </div>
        </div>

        <div class="col-4"></div>
    </div>
</div>