<div class="container">
    <h1>Welcome {{user}}</h1>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h4>Deposit Form</h4><br>
                <form (ngSubmit)="deposit()">
                    <input id="accnotext" type="text" [(ngModel)]="dAccno" class="text" name="accno" placeholder="Account number"> <br><br>
                    <input id="pwdtext" type="password" class="text" [(ngModel)]="dPswd" name="pswd" placeholder="Password"><br><br>

                    <input id="amttext" type="text" class="text" [(ngModel)]="dAmount" name="amount" placeholder="Amount"><br><br>

                    <input type="submit" value="Deposit" class="button butefct"><br><br>
                </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="main">
                <h4>Withdraw Form</h4><br>
                <form (ngSubmit)="withdraw()">
                    <input id="accnotext" type="text" class="text"  [(ngModel)]="wAccno" name="accno" placeholder="Account number"> <br><br>
                    <input id="pwdtext" type="password" class="text" [(ngModel)]="wPswd" name="pswd" placeholder="Password"><br><br>

                    <input id="amttext" type="text" class="text" [(ngModel)]="wAmount" name="amount" placeholder="Amount"><br><br>

                    <input type="submit" value="Withdraw" class="button butefct"><br><br>
                </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
    